*{
	box-sizing:border-box ;
}
body{
	margin: 0px;
	font-family: sans-serif;
	font-size: 1em;
	opacity: 1;
	background-color:rgb(218, 222, 220) ;
	
}
img{
	height: 200px;
	width: 200px;
	object-fit: cover;
	border-radius: 50%;
}
header{
	background-color: rgb(28, 28, 85);
	height: auto;
	text-align: center;
}
.corps{
	background-color:rgb(218, 222, 220) ;
	position:static;
}
h1{
	margin: 0px;
}
.contact{
	border: 0px solid white;
	background-color: white;
	border-radius: 15px;
	width: 50%;
	height: auto;
	text-align: justify;
	padding: 15px;
	margin: 15px;
	margin-left: 350px;
}
hr{
	margin: 0px;
	border: 2px solid black;
}
h2{
	margin: 0px;
	font-family: sans-serif;
}
h4{
	margin: 0px;
	color: blue;
	margin-top: 10px;
}
h3{
	color: blue;
}
p{
	font-family: sans-serif;
	font-size: 1em;
}
ul li{
	margin-top: 10px;
}
span{
	font-weight: bold;
}
section{
	margin: 0px;
}
@media only screen and (max-width:980px){
	.contact{
		margin-left: 250px;
	}

}
@media only screen and (max-width:830px){
	.contact{
		margin-left: 220px;
	}
	h1{
		font-size: 1em;
	}
	body{
		font-size: 0.8em;
	}

}
@media only screen and (max-width:720px){
	.contact{
		margin-left: 190px;
	}

}
@media only screen and (max-width:660px){
	.contact{
		margin-left: 150px;
	}

}
@media only screen and (max-width:658px){
	.contact{
		margin: 10px;
		width: 90%;
	}

}
@media only screen and (max-width:392px){
	.contact{
		margin: 5px;
		width: 90%;
		height: auto;
	}
	body{
		font-size: 0.7em;
	}

}
@media only screen and (max-width:338px){
	.contact{
		margin: 5px;
		width: 90%;
		height: auto;
	}
	body{
		font-size: 0.6em;
	}

}